<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2014-Present</h4>
                                    <h4 class="subheading">Michigan State University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PhD Mathematics </br>Expected Graduation: May 2020 </br>Thesis Advisor: Teena Gerhardt </p>
                                </div>
                            </div>
<!--                          </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Trinity.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2015</h4>
                                    <h4 class="subheading">Teaching Online/Hybrid Courses</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Trinity Christian College program on teaching online and hybrid courses. Created online course using Moodle, which included learning activities and resources using a variety of technology tools.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/NSA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2014</h4>
                                    <h4 class="subheading">Cryptanalysis & Exploitation Services Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Adapted mathematical problem solving skills to real world problems. Learned about aspects of computational number theory related to cryptography.</p>
                                </div>
                            </div> -->
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Calvin.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sept 2010-May 2014</h4>
                                    <h4 class="subheading">Calvin College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">BSc Mathematics (honors),</br>BA French (honors) </p>
                                </div>
                            </div>
                        </li>
<!--                           <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GWU.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2013</h4>
                                    <h4 class="subheading">Women in Mathematics Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A five-week intensive program for mathematically talented undergraduate women. Took courses and gave presentations in Symbolic Dynamical Systems, Wavelets and Fourier Analysis, Discrete Models in Biology, and Resampling and Simulation in Statistics.</p>
                                </div>
                            </div> -->
                        </li>
<!--                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
